In [24]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\don\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: patsy>=0.4.1 in c:\users\don\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in c:\users\don\anaconda3\lib\site-packages (from category_encoders) (0.9.0)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\don\anaconda3\lib\site-packages (from category_encoders) (0.20.1)
Requirement already satisfied: pandas>=0.20.1 in c:\users\don\anaconda3\lib\site-packages (from category_encoders) (0.23.4)
Requirement already satisfied: numpy>=1.11.1 in c:\users\don\anaconda3\lib\site-packages (from category_encoders) (1.15.4)
Requirement already satisfied: scipy>=0.17.0 in c:\users\don\anaconda3\lib\site-packages (from category_encoders) (1.1.0)
Requirement already satisfied: six in c:\users\don\appdata\roaming\python\python37\site-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\don\anaconda3\lib\site-packages (from pandas>=0.20.1->category_encoders) (2.7.5)
Requirement already satisfied: pytz>=2011k in c:\users\don\anaconda3\lib\site-packages (from pandas>=0.20.1->category_encoders) (2018.7)

In [25]:
pd.set_option("display.max_columns", 101)

In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import category_encoders as ce
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV

In [40]:
races = pd.read_csv('2018_2017.csv')
# races = races.iloc[:, :-1]

In [41]:
races.head()

,Track Name,Race Number,Date,Track Miles,Surface,Age,Weather,Track Condition,Race,Horse Name,Jockey,Weight,M/E,PP,Finish,Money Won,Trainer,Owner,Lengths Behind Winner,Length Rating
0,OAKLAWN PARK,Race 11,"April 14, 2018",One And One Eighth,Dirt,THREE YEAR,Cloudy,Fast,Arkansas Derby Grade 1 - Thoroughbred,Magnum Moon,"Saez, Luis",122,L,6,1,"$600,000","Pletcher, Todd","Low, Lawana L. and Robert E.",0.00,0.00
1,OAKLAWN PARK,Race 11,"April 14, 2018",One And One Eighth,Dirt,THREE YEAR,Cloudy,Fast,Arkansas Derby Grade 1 - Thoroughbred,Quip,"Geroux, Florent",122,L,8,2,"$200,000","Brisset, Rodolphe","WinStar Farm LLC, China Horse Club Internatio...",4.00,8.00
2,OAKLAWN PARK,Race 11,"April 14, 2018",One And One Eighth,Dirt,THREE YEAR,Cloudy,Fast,Arkansas Derby Grade 1 - Thoroughbred,Solomini,"Prat, Flavien",118,L b,5,3,"$100,000","Baffert, Bob","Zayat Stables, LLC, Magnier, Mrs. John, Tabor...",4.25,12.75
3,OAKLAWN PARK,Race 11,"April 14, 2018",One And One Eighth,Dirt,THREE YEAR,Cloudy,Fast,Arkansas Derby Grade 1 - Thoroughbred,Combatant,"Santana, Jr., Ricardo",118,L,9,4,"$50,000","Asmussen, Steven",Winchell Thoroughbreds LLC and Willis Horton ...,4.25,17.00
4,OAKLAWN PARK,Race 11,"April 14, 2018",One And One Eighth,Dirt,THREE YEAR,Cloudy,Fast,Arkansas Derby Grade 1 - Thoroughbred,Tenfold,"Espinoza, Victor",118,L,3,5,"$30,000","Asmussen, Steven",Winchell Thoroughbreds LLC,4.50,22.50

In [42]:
races.shape

(453, 20)

In [47]:
test_df = pd.read_csv('2018_Derby_actual.csv')

In [48]:
test_df.head()

,Track Miles,Surface,Weather,Track Condition,Horse Name,Jockey,Weight,M/E,Actual Finish,Trainer,Owner,Average Length Rating
0,One And One Fourth Miles,Dirt,Showery,Sloppy (Sealed),Justify,"Smith, Mike",126,L,1,"Baffert, Bob","China Horse Club, Head of Plains Partners LLC...",0.000000
1,One And One Fourth Miles,Dirt,Showery,Sloppy (Sealed),Good Magic,"Ortiz, Jose",126,L,2,"Brown, Chad",e Five Racing Thoroughbreds and Stonestreet S...,6.750000
2,One And One Fourth Miles,Dirt,Showery,Sloppy (Sealed),Audible,"Castellano, Javier",126,L,3,"Pletcher, Todd","China Horse Club, Head of Plains Partners LLC...",0.000000
3,One And One Fourth Miles,Dirt,Showery,Sloppy (Sealed),Instilled Regard,"Van Dyke, Drayden",126,L,4,"Hollendorfer, Jerry",OXO Equine LLC,17.333333
4,One And One Fourth Miles,Dirt,Showery,Sloppy (Sealed),My Boy Jack,"Desormeaux, Kent",126,L,5,"Desormeaux, J.","Don't Tell My Wife Stables, Monomoy Stables, ...",6.187500

In [49]:
y_train = races['Finish']
X_train = races.drop(columns=['Finish', 'Track Name',
'Race Number',
'Date',
'Age',
'Race',
'PP',
'Money Won',
'Lengths Behind Winner'
])
X_test  = test_df.drop(columns=['Actual Finish'])

In [50]:
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    StandardScaler(),  
    RandomForestClassifier(class_weight='balanced', 
                            n_jobs=-1, 
                            n_estimators=10000))

pipeline.fit(X_train, y_train)

C:\Users\Don\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Don\Anaconda3\lib\site-packages\sklearn\base.py:465: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, y, **fit_params).transform(X)

Pipeline(memory=None,
     steps=[('onehotencoder', OneHotEncoder(cols=['Track Miles', 'Surface', 'Weather', 'Track Condition', 'Horse Name', 'Jockey', 'M/E', 'Trainer', 'Owner'],
       drop_invariant=False, handle_unknown='impute', impute_missing=True,
       return_df=True, use_cat_names=True, verbose=0)), ('standardscaler...ors=10000, n_jobs=-1, oob_score=False,
            random_state=None, verbose=0, warm_start=False))])

In [51]:
y_pred = pipeline.predict(X_test)

C:\Users\Don\Anaconda3\lib\site-packages\sklearn\pipeline.py:331: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  Xt = transform.transform(Xt)

In [52]:
pd.DataFrame(y_pred)

    0
0   1
1   2
2   1
3   4
4   3
5   6
6   2
7   6
8   4
9   3
10  4
11  2
12  2
13  2
14  7
15  4
16  3
17  2
18  1
19  1

In [53]:
y_val  = test_df['Actual Finish']

In [54]:
accuracy_score(y_val, y_pred)

0.2